
		<div class="row">
			<div class="col-xs-12">
			<a href="{{urlfor "GatewayGroupController.Add"  }}" class="btn btn-sm btn-default"><i class="fa fa-user"></i> New</a>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>ID</th>
						<th>网关组名称</th>
						 
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					 
					{{range   $v := .list}}
						<tr>
							<td class="center">{{$v.Id}}</td>
							<td>{{$v.Gateway_group_name}}</td>
							 
							<td>
							<a href="{{urlfor "GatewayGroupController.Modify" "id" $v.Id "name" $v.Gateway_group_name}}">编辑</a> | 
							<a href="{{urlfor "GatewayGroupController.Delete" "id" $v.Id}}" class="delete_confirm">删除</a>|
							<a href="{{urlfor "GatewayGroupController.ListGateway" "gid" $v.Id "gname" $v.Gateway_group_name}}"  >包含网关</a>
							</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
        <div class="row">
			<div class="col-xs-12">{{str2html .pageBar}}</div>
		</div>