
		<div class="alert alert-warning alert-dismissible hide" role="alert"></div>
		
		<form class="form-horizontal ajax-form" method="post" action="">
			 
			{{range $k, $v := .user}}
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">{{$k}} </label>
				<label for="name" class="col-sm-2 control-label"> {{$v}}</label> 
			</div>
			{{end}}
			 
			<div class="clearfix form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					 
					<a href="{{urlfor "ExtensionController.List" }}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
				</div>
			</div>
		</form>
