		<div class="col-xs-12">
					<label for="name" class="col-sm-2 control-label">队列：{{.fname}}</label>
		</div>
		<div class="row">
			<form class="form-horizontal ajax-form" method="post" action="{{urlfor "FifoController.AddExt"}}">
				<input type="hidden" name="fid" value="{{.fid}}" />
				<input type="hidden" name="fname" value="{{.fname}}" />
				
				<div  >
					<label for="name"  >分机号</label>
					  <select name="extension">
								<option value="0">请选择</option>
								{{range  $v := .exludes}}
									<option value="{{$v }}">{{$v}}</option>
								{{end}}
						</select>
					<div >
						
					</div>
				</div>
				<div class="col-xs-12">
					<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>添加</button>
				</div>
			
			</form>
		</div>

		<div class="space-4"></div>

		<div class="row">
		    
			<div class="col-xs-12">
			    
				<table class="table table-striped table-bordered table-hover">
				
					<thead>
					<tr>
						<th>序号</th>
						<th>分机</th>
						
						 
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					 {{$index := 1}}
					 {{$fid := .fid}}
					{{$fname := .fname}}
					{{range  $k, $v := .exts}}
						<tr>
							<td class="center">{{ $k }}</td>
							<td>{{$v.Name}}</td>
							
							 
							<td>
								<a href="{{urlfor "FifoController.DeleteExt" "id" $v.Id "fid" $fid "fname" $fname}}" class="delete_confirm">删除</a>
							</td>
							 
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
        