

<div class="hr"></div>





<div class="row">
 	 
	<div class="col-xs-12">
		<a href="{{urlfor "SystemController.Interface" }}" class="btn btn-sm btn-default"><i class="fa fa-road"></i> 本机提供的接口说明</a>
	</div>
	 
	<div class="col-xs-6">
		<div class="widget-box transparent">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="ace-icon fa fa-rss orange"></i>
					服务器状态
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main ">
						{{.statusRsp}} 
						
				</div><!-- /.widget-main -->
			</div><!-- /.widget-body -->
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="widget-box  transparent">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="ace-icon fa fa-rss orange"></i>
					VoIP状态
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main ">
					{{.sofiaStatusRsp}}	 
						
				</div><!-- /.widget-main -->
			</div><!-- /.widget-body -->
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="widget-box  transparent">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="ace-icon fa fa-rss orange"></i>
					支持编码
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main ">
						{{.codecRsp}}
				</div><!-- /.widget-main -->
			</div><!-- /.widget-body -->
		</div>
	</div>
	
	
	
	<div class="col-xs-6">
		<div class="widget-box  transparent">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="ace-icon fa fa-info-circle orange"></i>
					系统信息
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main no-padding">
					<ul class="item-list">
						<li class="item-orange">
							程序版本：CAAS v{{.version}}
						</li>

						<li class="item-red clearfix">
							主机名称：{{.hostname}}
						</li>

						<li class="item-default clearfix ui-sortable-handle">
							数据库版本：Postgresql {{.dbVerson}}
						</li>

						<li class="item-blue clearfix ui-sortable-handle">
							运行环境：{{.os}} ({{.arch}}), CPU Num: {{.cpuNum}}, {{.gover}}, goroutine: {{.goroutineNum}}
						</li>

						<li class="item-grey clearfix ui-sortable-handle">
							数据目录：{{.dataDir}}
						</li>

						<li class="item-green clearfix ui-sortable-handle">
							启动时间：{{.uptime}}
						</li>

						<li class="item-pink clearfix ui-sortable-handle">
							
						</li>
					</ul>
				</div><!-- /.widget-main -->
			</div><!-- /.widget-body -->
		</div>
	</div>
	
</div>
