
	
		
		<form class="form-horizontal ajax-form" method="post" action="{{urlfor "GatewayController.Add"}}">
			 
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">网关名称</label>
				<div class="col-sm-3">
					<input  required="required" type="text" class="form-control" id="gateway_name" name="gateway_name">
				</div>
				<label for="name" class="col-sm-2 control-label">*必填,让网关有个容易分辨的名称</label>
			</div>
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">网关url</label>
				<div class="col-sm-3">
					<input required="required"  type="text" class="form-control" id="Gateway_url" name="Gateway_url">
				</div>
				<label for="name" class="col-sm-2 control-label">*必填，作为网关在呼叫时的uri</label>
			</div>
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">呼出前缀</label>
				<div class="col-sm-3">
					<input required="required" type="text" class="form-control" id="Call_prefix" name="Call_prefix">
				</div>
				<label for="name" class="col-sm-2 control-label">*必填，和一些落地对接时，呼出需要用到的前缀</label>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">呼出号码</label>
				<div class="col-sm-3">
				<!--<textarea name="yoursuggest" cols ="50" rows = "3"></textarea>    -->
					<textarea  class="form-control" id="Effective_number" name="Effective_number"  cols ="50" rows = "3"></textarea> 
				</div>
			</div>
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">最大并发</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="Max_call" name="Max_call" value="0">
				</div>
				<label for="name" class="col-sm-2 control-label"> </label>
			</div>
			
			<div class="form-group">
				<label for="send_mail" class="col-sm-2 control-label">是否用于回拨或外呼式呼叫</label>
				<div class="col-sm-5">
					<input name="Added_autodial" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" value="1">
					<span class="lbl"></span>
				</div>
			</div> 
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">验证用户名</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="username" name="username">
				</div>
				<label for="name" class="col-sm-2 control-label">远程对接的用户名</label>
			</div>    
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">远端IP</label>
				<div class="col-sm-3">
					<input  required="required" type="text" class="form-control" id="realm" name="realm">
				</div>
				<label for="name" class="col-sm-2 control-label">*必填</label>
			</div> 	
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">from-user</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="from_user" name="from_user">
				</div>
				 
			</div> 		
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">from-domain</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="from_domain" name="from_domain">
				</div>
				 
			</div> 		 
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">验证密码</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="password" name="password">
				</div>
				 
			</div> 		
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">extension</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="extension" name="extension">
				</div>
				 
			</div>  
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">代理IP</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="proxy" name="proxy">
				</div>
				 
			</div>  
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">expire-seconds</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="expire_seconds" name="expire_seconds">
				</div>
				 
			</div>  
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">register</label>
				<div class="col-sm-3">
					<input  required="required" type="text" class="form-control" id="register" name="register">
				</div>
				<label for="name" class="col-sm-2 control-label">*必填：true,false</label> 
			</div> 	 
				 
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">register_transport</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="register_transport" name="register_transport">
				</div>
				<label for="name" class="col-sm-2 control-label"> </label> 
			</div> 		 
	  
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">retry_seconds</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="retry_seconds" name="retry_seconds">
				</div>
				<label for="name" class="col-sm-2 control-label"> </label> 
			</div> 		
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">caller_id_in_from</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="caller_id_in_from" name="caller_id_in_from">
				</div>
				<label for="name" class="col-sm-2 control-label"> true,false</label> 
			</div>  
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">contact_params</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="contact_params" name="contact_params">
				</div>
				<label for="name" class="col-sm-2 control-label">  </label> 
			</div>   
				
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">ping</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="ping" name="ping">
				</div>
				<label for="name" class="col-sm-2 control-label"> 数值 </label> 
			</div>  	 
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">register_proxy</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="register_proxy" name="register_proxy">
				</div>
				<label for="name" class="col-sm-2 control-label">   </label> 
			</div>  	 
				 
			 
			<div class="clearfix form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
					<a href="{{urlfor "GatewayController.List" }}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
				</div>
			</div>
		</form>
