<div class="row">
		<div class="col-xs-12">
			<a href="assets/examples/gateways.xlsx"    class="btn btn-sm btn-default">下载模板</a>
	    </div>
		<div class="space-4"></div>
</div>	
		<form class="form-horizontal " enctype="multipart/form-data"  method="post" action="{{urlfor "GatewayController.BatchAdd"}}">
			 
			
			 
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">上传文件</label>
				<div class="col-sm-3">
					<input type="file"  id="gatewayfile" name="gatewayfile">
				</div>
			</div>
				 
			 
			<div class="clearfix form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
					<a href="{{urlfor "GatewayController.List" }}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
				</div>
			</div>
		</form>
