
		<div class="row">
			<div class="col-xs-12">
			<a href="{{urlfor "DialplanDetailController.Add" "did" .did "dname" .dname}}" class="btn btn-sm btn-default"><i class="fa fa-user"></i> New DialPlan Deatial</a>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
	 
					<tr>
						<th>ID</th>
						<th>路由名称</th>
						<th>明细名称</th>
						<th>明细数据</th>
						
						<th>操作类型</th>
						<th>彩铃</th>
						<th>序号</th>
						<th>是否外呼</th>
						
						<th>外呼网关组</th>
						<th>外呼网关</th>
						
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					{{$ops:= .ops}}
					{{$gws:= .gws}}
					{{$gwgs:= .gwgs}}
					{{$rings:= .rings}}
					{{$did := .did}}
					{{$dname := .dname}}
					{{range $k, $v := .list}}
					
						<tr>
							<td class="center">{{$v.Id}}</td>
							<td>{{$dname}}</td>
							<td>{{$v.Dialplan_detail_tag}}</td>
							 
							<td>{{$v.Dialplan_detail_data}}</td>
							
							<td>
							{{range  $v1 := $ops}}
							
							    {{if eq $v.Dialplan_detail_type_id $v1.Id}} 
								    {{$v1.Name}} 
								{{end}}
							{{end}}
							</td>
							<td>
							{{range  $v2 := $rings}}
	     					    {{if eqint64 $v.Ring_id.Int64 $v2.Id}} 
								    {{$v2.Name}} 
								{{end}}
							{{end}}
							</td>
							<td>{{$v.Orderid}}</td>
							<td>{{$v.Is_callout}}</td>
							<td>
							{{range  $v3 := $gwgs}}
							
							    {{if eqint64 $v.Gateway_group_id.Int64 $v3.Id}} 
								    {{$v3.Gateway_group_name}} 
								{{end}}
							{{end}}
							</td>
							<td>
							{{range  $v4 := $gws}}
							
							    {{if eqint64 $v.Outline_gateway.Int64 $v4.Id}} 
								    {{$v4.Gateway_name}} 
								{{end}}
							{{end}}
							</td>
							 
							 
							<td>
							<a href="{{urlfor "DialplanDetailController.Modify" "id" $v.Id "did" $did "dname" $dname}}">编辑</a> | 
							<a href="{{urlfor "DialplanDetailController.Delete" "id" $v.Id "did" $did "dname" $dname}}" class="delete_confirm">删除</a> | 
							
							</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
        