
		<div class="alert alert-warning alert-dismissible hide" role="alert"></div>
		<div > {{.ErrMsg}}</div>
		<form class="form-horizontal ajax-form" method="post" action="{{urlfor "ExtensionController.AddGroup"}}">
			<input type="hidden" name="project_id" value="{{.project.Id}}" />
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">分机组名称</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="name" name="name">
				</div>
			</div>
			
			

			<div class="clearfix form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info">
					<i class="ace-icon fa fa-check bigger-110"></i>提交</button>
					<a href="{{urlfor "ExtensionController.List" }}" class="btn btn-default">
					<i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
				</div>
			</div>
		</form>
