
		<div class="alert alert-warning alert-dismissible hide" role="alert"></div>
		
		<form class="form-horizontal ajax-form" method="post" action="{{urlfor "IvrController.Add"}}">
			<input type="hidden" name="did" value="{{.did}}" /> 
			<input type="hidden" name="dname" value="{{.dname}}" />  
						
						 
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">IVR名称</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="IvrName" name="IvrName" value="" >
				</div>
			</div>
			
			<div class="form-group">
				<label for="ssh_user" class="col-sm-2 control-label">IVR分机号</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="IvrExtension" name="IvrExtension" value=" ">
				</div>
			</div>
			<div class="form-group">
				<label for="pub_dir" class="col-sm-2 control-label">确认键</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="IvrConfirmKey" name="IvrConfirmKey" value="#">

				</div>
				<div class="help-block col-sm-8 col-sm-reset inline"></div>
			</div>
			
			<div class="form-group">
				<label for="pub_dir" class="col-sm-2 control-label">最大超时时间</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="IvrMaxTimeout" name="IvrMaxTimeout" value="60">
				</div>
				<div class="help-block col-sm-8 col-sm-reset inline"></div>
			</div>
			<div class="form-group">
				<label for="pub_dir" class="col-sm-2 control-label">按键超时</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="IvrInterDigitTimeout" name="IvrInterDigitTimeout" value="10">
				</div>
				<div class="help-block col-sm-8 col-sm-reset inline"></div>
			</div>  
			<div class="form-group">
				<label for="pub_dir" class="col-sm-2 control-label">最大尝试次数</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="IvrMaxFailures" name="IvrMaxFailures" value="3">
				</div>
				<div class="help-block col-sm-8 col-sm-reset inline"></div>
			</div> 
			<div class="form-group">
				<label for="pub_dir" class="col-sm-2 control-label">按键长度</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="IvrDigitLen" name="IvrDigitLen" value="1">
				</div>
				<div class="help-block col-sm-8 col-sm-reset inline"></div>
			</div> 
			<div class="form-group">
				<label for="send_mail" class="col-sm-2 control-label">是否有效</label>
				<div class="col-sm-5">
					<input name="IvrEnabled" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" checked="true" value="1">
					<span class="lbl"></span>
				</div>
				<div class="help-block col-sm-8 col-sm-reset inline"> </div>
			</div>
			<div class="hr hr-16 hr-dotted"></div>
			
			<div class="form-group">
				<label for="send_mail" class="col-sm-2 control-label">播放语音</label>
				<div class="col-sm-6">
					<select name="IvrLongId">
						<option value="0">请选择</option>
						{{range  $v := .rings}}
						<option value="{{$v.Id}}">{{$v.Name}}</option> 
						{{end}}
					</select>
				</div>
				<div class="help-block col-sm-8 col-sm-reset inline"> </div>

			</div>
			
			<div class="form-group">
				<label for="send_mail" class="col-sm-2 control-label">短音</label>
				<div class="col-sm-6">
					<select name="IvrShortId">
						<option value="0">请选择</option>
						{{range  $v := .rings}}
						<option value="{{$v.Id}}">{{$v.Name}}</option>
						{{end}}
					</select>
				</div>
				<div class="help-block col-sm-8 col-sm-reset inline"> </div>

			</div>
			
			<div class="form-group">
				<label for="send_mail" class="col-sm-2 control-label">无效音</label>
				<div class="col-sm-6">
					<select name="IvrInvalidId">
						<option value="0">请选择</option>
						{{range  $v := .rings}}
						<option value="{{$v.Id}}">{{$v.Name}}</option>
						{{end}}
					</select>
				</div>
				<div class="help-block col-sm-8 col-sm-reset inline"> </div>

			</div>
			<div class="form-group">
				<label for="send_mail" class="col-sm-2 control-label" value="0">父IVR ID</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="IvrParentId" name="IvrParentId" value="0">
				</div> 
				<div class="help-block col-sm-8 col-sm-reset inline">为了在进行IVR中返回上一层用，暂不用处理 </div>
			</div>
			 
			<div class="form-group">
				<label for="send_mail" class="col-sm-2 control-label">顺序</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="IvrCallOrderId" name="IvrCallOrderId">
				</div> 
			</div> 
			 
			
			 
			
			
			<div class="clearfix form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
					<a href="{{urlfor "IvrController.List"   }}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
				</div>
			</div>
		</form>
