<form class="form-horizontal ajax-form" method="post" action="{{urlfor "SystemController.Addblacklist"}}">
			 
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">号码</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="CallNumber" name="CallNumber">
				</div>
			</div>
			
			<div class="form-group">
				<label for="mail_to" class="col-sm-2 control-label">外呼网关</label>
				<div class="col-sm-6">
					<select name="category">
						<option value="2">呼入黑名单</option>
						 
						<option value="0">全局黑名单</option>
						<option value="1">呼出黑名单</option>
						 
					</select>
				</div>
				<div class="help-block col-sm-8 col-sm-reset inline">全局的要慎用，当填了后，则呼入呼出都无效</div>

			</div> 
			 
			<div class="clearfix form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
					<a href="{{urlfor "SystemController.Blacklist" }}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
				</div>
			</div>
		</form>