
		<div class="row">
			<div class="col-xs-12">
			<a href="{{urlfor "SystemController.Addblacklist"}}" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> 添加</a>
			</div>
		</div>
		 
		<div class="space-4"></div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>ID</th>
						<th>类型</th>
						<th>号码</th>
						<th>操作</th> 
					</tr>
					</thead>
				
					<tbody>
					 
					{{range  $v := .list}}
						<tr>
							<td class="center">{{$v.Id}}</td>
							<td>
							{{$v.Category}}
							
							</td>
							<td>
							{{$v.CallNumber}}
							 </td>
							<td>
						 	    <a href="{{urlfor "SystemController.Delblacklist" "CallNumber" $v.CallNumber}}" class="delete_confirm">删除</a>
							</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
        <div class="row">
			<div class="col-xs-12">{{str2html .pageBar}}</div>
		</div>