
		<div class="row">
			<form class="form-horizontal ajax-form" method="post" action="{{urlfor "SystemController.AddInterfaceIpWhiteList"}}">
			    <div class="form-group">
					<label for="pub_dir" class="col-sm-2 control-label">开始IP地址</label>
					<div class="col-sm-3">
						<input type="text" required="required"  class="form-control" id="beginip" name="beginip" >
					</div>
					<div class="help-block col-sm-8 col-sm-reset inline">eg: 139.196.40.50</div>
				</div>
				<div class="form-group">
					<label for="pub_dir" class="col-sm-2 control-label">结束IP地址</label>
					<div class="col-sm-3">
						<input type="text" required="required"  class="form-control" id="endip" name="endip">
					</div>
					<div class="help-block col-sm-8 col-sm-reset inline">eg: 139.196.40.50</div>
				</div>
			     
				<div class="col-xs-12">
					<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
				</div>
			</form>
		</div>
		 
		<div class="space-4"></div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>ID</th>
						<th>开始IP</th>
						<th>结束IP</th>
						<th>操作</th> 
					</tr>
					</thead>
				
					<tbody>
					 
					{{range  $v := .list}}
						<tr>
							<td class="center">{{$v.Id}}</td>
							<td>
							{{$v.BeginIP}}
							
							</td>
							<td>
							{{$v.EndIP}}
							 </td>
							<td>
						 	    <a href="{{urlfor "SystemController.DelInterfaceIpWhiteList" "id" $v.Id}}" class="delete_confirm">删除</a>
							</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
        <div class="row">
			 
		</div>