<div class="row">
	 
</div>

<div class="space-4"></div>
<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>示例</th>
						 
					</tr>
					</thead>
					<tbody>
					<tr>
					<td>0</td>
					<td>
					 token 认证:
					</td>
					<td>
						curl -d '{"username": "admin", "password": "admin"}' -H "Content-Type:application/json" http://{{.restipport}}/api/login
					</td>
					</tr>
					<tr>
					<td>1
					</td>
					<td>
获取一个系统生成的uuid:
</td>
					<td>
curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUxNzMyNzUsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTE2OTY3NX0.bcg0zDwqwyczAFzdgzlW3eTwIkE1crHXgr97HJd8Bo8" http://{{.restipport}}/api/get_uuid
</tr>
					<tr>
					<td>2</td><td>
获取一个正在通话中的电话的uuid：
</td>
					<td>

curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUxNzMyNzUsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTE2OTY3NX0.bcg0zDwqwyczAFzdgzlW3eTwIkE1crHXgr97HJd8Bo8" http://{{.restipport}}/api/get_phone_uuid/1002
</td>
				</tr>
					<tr>	<td>3</td>
					<td>
挂断一个正通话中电话
</td>
					<td>
curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyMDU3OTYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTIwMjE5Nn0.WvLVi8D90LavD_BlQENMudGpMMDRF21bwJqnF90H_HM" http://{{.restipport}}/api/hangup/1002
</td>
					</tr>
					<tr><td>4</td>
					<td>
hold一个通话
</td>
					<td>
curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjMzNzIsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI1OTc3Mn0.f0C4IudCmjZdo1XpRztVhlhPzObWgzxHuzd6ydYVFL8" http://{{.restipport}}/api/hold/1002
</td>
					</tr>
					<tr><td>5</td>
					<td>
unhold一个通话
</td>
					<td>
curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjMzNzIsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI1OTc3Mn0.f0C4IudCmjZdo1XpRztVhlhPzObWgzxuzd6ydYVFL8" http://{{.restipport}}/api/unhold/1002
</td>
					</tr>
					<tr><td>6</td>
					<td>
发起一个呼叫
</td>
					<td>
curl -H "Content-Type: application/json" -d '{"Job_uuid":"1234","Callername":"1002","Callernum":"1002","Calleenum":"1000","A_gatewayname":"","B_gatewayname":"","A_effective_caller_id_num":"1002","B_effective_caller_id_num":"1000","A_external":"false","B_external":"false"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjQ4NjcsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2MTI2N30.FNK8c2CyAfFbHJey7irXJb7C5TtrsRqEDXQJlWZxxzU" http://{{.restipport}}/api/originate
</td>
					</tr>
					<tr><td>7</td>
					<td>
按uuid桥接两个通话通道
</td>
					<td>
curl -H "Content-Type: application/json" -d '{"A_uuid":"aleguuid","B_uuid":"bleguuid"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjQ4NjcsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2MTI2N30.FNK8c2CyAfFbHJey7irXJb7C5TtrsRqEDXQJlWZxxzU" http://{{.restipport}}/api/bridge
</td>
					</tr>
					<tr><td>8</td>
					<td>
按号码桥接两个通话通道
</td>
					<td>
curl -H "Content-Type: application/json"  -d '{"A_phone":"1002","B_phone":"1003"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjA0NTQsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI1Njg1NH0.BbixrdNhbnaR265dWsoekrhomfglJLJVTF0n1mYrwyI" http://{{.restipport}}/api/bridge_phone
</td>
					</tr>
					<tr><td>9</td>
					<td>
park一个通话
</td>
					<td>
curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjQ4NjcsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2MTI2N30.FNK8c2CyAfFbHJey7irXJb7C5TtrsRqEDXQJlWZxxzU" http://{{.restipport}}/api/park/1002
</td>
					</tr>
					<tr><td>10</td>
					<td>
抢接一个来电
</td>
					<td>
curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/intercept/1002
</td>
					</tr>
					<tr><td>11</td>
					<td>
由平台应答
</td>
					<td>
curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/answer/1002
</td>
					</tr>
					<tr><td>12</td>
					<td>
按号码监听
</td>
					<td>
curl -H "Content-Type: application/json" -d '{"EvdedPhone":"1002","EvdPhone":"1003","EvdGateway":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/eavesdrop
</td>
					</tr>
					<tr><td>13</td>
					<td>
多方通话
</td>
					<td>
curl -H "Content-Type: application/json" -d '{"EvdedPhone":"1002","EvdPhone":"1003","EvdGateway":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzE0MTQsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzgxNH0.sDzTstNN3Urd2uNZf82qpg0CvaEFHeDuczOi-NTNI3U" http://{{.restipport}}/api/threeway
</td>
					</tr>
					<tr><td>14</td>
					<td>
耳语
</td>
					<td>
curl -H "Content-Type: application/json" -d '{"EvdedPhone":"1002","EvdPhone":"1003","EvdGateway":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHiOjE0NjUyNzE0MTQsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzgxNH0.sDzTstNN3Urd2uNZf82qpg0CvaEFHeDuczOi-NTNI3U" http://{{.restipport}}/api/whisper
</td>
					</tr>
					<tr><td>15</td>
					<td>
preanswer
</td>
					<td>
curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzE3MTAsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2ODExMH0.ElXZwvGwU0VB9Mf1ZN6KRcjEbJXg9QEE3oYEpbjy3s" http://{{.restipport}}/api/preanswer/1002
</td>
					</tr>
					<tr><td>16</td>
					<td>
给已answer的通道放音
</td>
					<td>
curl -H "Content-Type: application/json" -d '{"PhoneNumber":"1002","FilePath":"D:\nwaytest.wav","Loopplay":"true"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6kpXVCJ9.eyJleHAiOjE0NjUyNzE3MTAsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2ODExMH0.ElXZwvGwU0VB9Mf1ZN6KRcjEbJXg9QEEN3oYEpbjy3s" http://{{.restipport}}/api/playback
</td>
					</tr>
					<tr><td>17</td>
					<td>
中止相关操作
</td>
					<td>
curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzI3MzYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2OTEzNn0.ztfc77equjck1NkMUAM-Qe-anwv0fYSBRTTIyL88PLg" http://{{.restipport}}/api/break/1002
</td>
					</tr>
					<tr><td>18</td>
					<td>
录音
</td>
					<td>
curl -H "Content-Type: application/json" -d '{"PhoneNumber":"1002","Filepath":"nwaytestr.wav","Flag":"start","Limit":"0"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzE3MTAsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2ODExMH0.ElXZwvGwU0VB9Mf1ZN6KRcjEbJXg9QEEN3oYEpbjy3s" http://{{.restipport}}/api/record
</td>
					</tr>
					<tr><td>19</td>
					<td>
发送dtmf
</td>
					<td>
curl -H "Content-Type: application/json" -d '{"PhoneNumber":"1002","Dtmf":"18621575908"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzE3MTAsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2ODExMH0.ElXZwvGwU0VB9Mf1ZN6KRcjEbJXg9QEEN3oYEpbjy3s" http://{{.restipport}}/api/senddtmf
</td>
					
					</tr>


<tr><td  colspan="3">
 

与座席相关的分机状态
</td>
				</tr>
					
					
					<tr>
					<td>1</td>
					<td>
					    //查询所有分机状态，如查询1002分机
					</td>
					<td>
    					 curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://192.168.1.115:8082/api/extension_info/1002
     				</td>
				</tr>
				</tr>					
					<tr>
					<td>2</td>
					<td>
					    //设置座席用户的分机的上线下线 up,down
					</td>
					<td>
    					 curl -H "Content-Type: application/json" -d '{"Extension":"1002","Value":"up" }'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://192.168.1.115:8082/api/extension_seatstate
					</td>
				</tr>
				</tr>					
					<tr>
					<td>3</td>
					<td>
					    //设置座席用户的分机的置闲置忙 idle,busy
					</td>
					<td>
    					 curl -H "Content-Type: application/json" -d '{"Extension":"1002","Value":"idle" }'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://192.168.1.115:8082/api/extension_seatstatus
					</td>
				</tr>
				</tr>					
					<tr>
					<td>4</td>
					<td>
					    //设置座席用户的分机的呼叫状态 ring,talking,ivr,ready
					</td>
					<td>
    					  curl -H "Content-Type: application/json" -d '{"Extension":"1002","Value":"ready"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://192.168.1.115:8082/api/extension_callstate
					</td>
				</tr>
					 




					<tr><td  colspan="3">
 

会议相关
/这里的会议以3000为主，主被叫号码1002,1003,1000,1004/
</td>
					</tr>
					<tr><td>1</td>
					<td>
    //  conference
	"/conference_create"
//创建一个3000名称的会议室，主持人号码是1002,不经过落地网关
</td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","PhoneNumber":"1002","GatewayName":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_create

     </td>
					</tr>
					<tr><td>2 </td>
					<td>
//增加一个成员并呼叫

//由系统呼叫号码为1002的号码，不经过落地网关，IsMute为默认是禁止发方与否
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","PhoneNumber":"1002","GatewayName":"","IsMute":"false"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_add

     "/conference_add"
	 </td>
					</tr>
					<tr><td>3 </td>
					<td>
//获得一个会议中某号码的memberid
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","CallerNumber":"1002"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_memberid

    "/conference_memberid" </td>
					</tr>
					<tr><td>4 </td>
					<td>
//踢掉所有与会成员
 </td>
					<td>
     curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/conference_kick_all/3000

     "/conference_kick_all/:conference" </td>
					</tr>
					<tr><td>5 </td>
					<td>
//会议自动增益

    //param on/off
    //level a number
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","param":"on","level":"4"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_agc

     "/conference_agc" </td>
					</tr>
					<tr><td>6 </td>
					<td>
//检查录音状态
 </td>
					<td>
     curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/conference_chkrecord/3000

     "/conference_chkrecord" </td>
					</tr>
					<tr><td>7 </td>
					<td>
//禁听
//memberid是用getmemberid获得 //Flag |all|last|non_moderator
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_deaf

    "/conference_deaf" </td>
					</tr>
					<tr><td>8 </td>
					<td>
//发送dtmf到会议成员 //Flag |all|last|non_moderator
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":"", "Dtmf":"520"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_dtmf

    "/conference_dtmf" </td>
					</tr>
					<tr><td>9 </td>
					<td>
//调整某个会议成员的energy //Flag |all|last|non_moderator //Newval
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":"", "Newval":"520"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_energy

    "/conference_energy" </td>
					</tr>
					<tr>
					<td>10</td><td>
//进入会议时的语音 //flag on|off|none|file //Filename Flag为file时有效 
 </td>
					<td>
curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Flag":"3","Filename":""}' -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_enter_sound

   "/conference_enter_sound" </td>
					</tr>
					<tr><td>11 </td>
					<td>
//退出会议的语音
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Flag":"3","Filename":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_exit_sound

     "/conference_exit_sound" </td>
					</tr>
					<tr><td>12 </td>
					<td>
// "切换会议人员状态" //Flag member_id|all|last|non_moderator
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_floor

     "/conference_floor" </td>
					</tr>
					<tr><td>13 </td>
					<td>
//挂断某个member,但不播放退出音
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_hup

    "/conference_hup" </td>
					</tr>
					<tr><td>14 </td>
					<td>
//挂断某个member,播放退出音
 </td>
					<td>
   curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_kick

    "/conference_kick" </td>
					</tr>
					<tr><td>15 </td>
					<td>
//列出会议 //Flag [pretty|summary|count|delim ]
 </td>
					<td>
    curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/conference_list/pretty

   "/conference_list/:flag" </td>
					</tr>
					<tr><td>16 </td>
					<td>
//锁定某个会议，不允许新的人员进入
 </td>
					<td>
     curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/conference_lock/3000

    "/conference_lock/:conference" </td>
					</tr>
					<tr><td>17 </td>
					<td>
//解锁某个会议，允许新的会议人员进入
 </td>
					<td>
     curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/conference_unlock/3000

    "/conference_unlock/:conference"  </td>
					</tr>
					<tr><td>18 </td>
					<td>        
    //////////////////////////////////////////
//禁言 //Flag |all|last|non_moderator
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":"","Quiet":"quiet"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_mute

    "/conference_mute" </td>
					</tr>
					<tr><td>19 </td>
					<td>
//允许发言 //Flag |all|last|non_moderator
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":"","Quiet":"quiet"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_unmute                        
     "/conference_unmute" </td>
					</tr>
					<tr><td>20 </td>
					<td>
//移除当前会议的录音 //Flag |all
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Flag":"all"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_norecord                                             
     "/conference_norecord" </td>
					</tr>
					<tr><td>21 </td>
					<td>
//会议暂停录音 //Flag
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Flag":"all"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_pause                                                   
     "/conference_pause" </td>
					</tr>
					<tr><td>22 </td>
					<td>
//设置会议呼入时的口令 //Flag
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Flag":"all"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_pin                                                                               
     "/conference_pin" </td>
					</tr>
					<tr><td>23</td><td>
//播放相关文件给会议 //Flag [{vol=,full-screen=true,png_ms=100}] [async| [nomux]]
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Flag":"all"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_play                                                                                                             
     "/conference_play" </td>
					</tr>
					<tr><td>24 </td>
					<td>
//会议录音 //Flag
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Flag":"all"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_record                                                                                                                                        
     "/conference_record" </td>
					</tr>
					<tr><td>25 </td>
					<td>
//会议录音控制

// recording start

// recording check

// recording stop |all

// recording pause

// recording resume
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Flag":"start","Filename":"/home/recording/abc.wav"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_recording                                                   
     "/conference_recording" </td>
					</tr>
					<tr><td>26 </td>
					<td>
//恢复会议录音 
//Flag
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Flag":"/home/recording/abc.wav"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_resume                                                                                                                                                           
     "/conference_resume"
 </td>
					</tr>
					<tr><td>27 </td>
					<td>

      
//设置一些会议参数
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Param":"Value","Filename":"/home/recording/abc.wav"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_set                                                                           
     "/conference_set" </td>
					</tr>
					<tr><td>28 </td>
					<td>
//停止播放一些语音 //Flag [current|all] []
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_stop                            
     "/conference_stop" </td>
					</tr>
					<tr><td>29 </td>
					<td>
//切换禁言 //Flag |all|last|non_moderator
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":"","Quiet":"quiet"}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_tmute                                    
     "/conference_tmute" </td>
					</tr>
					<tr><td>30 </td>
					<td>
//解除禁听 //Flag |all|last|non_moderator
 </td>
					<td>
    curl -H "Content-Type: application/json" -d '{"ConferenceName":"3000","Member_id":"3","Flag":""}'  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNzA4MjYsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NzIyNn0.cSUqEoc5hmZ747y6LP6llmfChoOahXN0BOwi-rxDmq8" http://{{.restipport}}/api/conference_undeaf                                                             
     "/conference_undeaf"   </td>
					</tr>
					<tr><td>31 </td>
					<td>                   
    //////////////////////////////////////////
//移除会议口令
 </td>
					<td>
     curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/conference_nopin/3000

    "/conference_nopin/:conference"
	 </td>
					</tr>
					<tr><td>32 </td>
					<td>
//暂停播放
 </td>
					<td>
     curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/conference_pause_play/3000

     "/conference_pause_play/:conference" </td>
					<td>
</tr>
     
	<tr><td>33 </td>
					<td>
//获得所有正在进行中的会议
 </td>
					<td>
     curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/conferences

     "/conferences" </td>
					<td>
</tr>

<tr><td>34 </td>
					<td>
//获得所有正在进行中的会议的成员
 </td>
					<td>
     curl  -H "Authorization:Nway eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NjUyNjkyMDMsImlkIjoiYWRtaW4iLCJvcmlnX2lhdCI6MTQ2NTI2NTYwM30.ER1yOKxhBwVqY9IS18DOOZox15eOVUJR7bJF1mjtsfM" http://{{.restipport}}/api/conference_members/3000

     "/conference_members/3000" </td>
					<td>
</tr>
					 
					</tbody>
				</table>
			</div>
		</div>