
		<div class="alert alert-warning alert-dismissible hide" role="alert"></div>
		
		<form class="form-horizontal ajax-form" method="post" action="{{urlfor "GatewayGroupController.AddGateway"}}">
			 
			<label for="name" class="col-sm-2 control-label">网关组:{{.gname}}</label>
			<input type="hidden" name="gid" value="{{.gid}}" />
			<input type="hidden" name="gname" value="{{.gname}}" />
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">网关名称</label>
				<!--<div class="col-sm-3">
					<input type="text" class="form-control" id="Gateway_group_name" name="Gateway_group_name">
				</div>
				-->
				<div class="col-sm-6">
					<select name="GatewayId">
						<option value="">请选择</option>
						{{range $v := .list}}
						<option value="{{$v.Id}}">{{$v.Gateway_name}}</option>
						{{end}}
					</select>
				</div>
			</div>
			
			
			<div class="clearfix form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
					<a href="{{urlfor "GatewayGroupController.ListGateway"  "gid" .gid "gname" .gname}}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
				</div>
			</div>
		</form>
