
		<div class="row">
			<div class="col-xs-12">
			<a href="{{urlfor "FifoController.Add"  }}" class="btn btn-sm btn-default"><i class="fa fa-user"></i> New</a>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>短号</th> 
						<th>类型</th>
						<th>当前记忆位置</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
				
					{{$fms := .fms}}
					{{range   $v := .list}}
						<tr>
							<td class="center">{{$v.Id}}</td>
							<td>{{$v.FifoName}}</td>
							<td>{{$v.FifoName}}</td>
							<td>
							{{range   $v1 := $fms}}
							
							    {{if eq $v.FifoType $v1.Id}} 
								    {{$v1.Name}} 
								{{end}}
							{{end}}
							
							</td> 
							<td>{{$v.FifoCrycleId}}</td>
							<td>
							<a href="{{urlfor "FifoController.Modify" "id" $v.Id "name" $v.FifoName}}">编辑</a> | 
							<a href="{{urlfor "FifoController.Delete" "id" $v.Id}}" class="delete_confirm">删除</a>|
							<a href="{{urlfor "FifoController.ListExt" "fid" $v.Id "fname" $v.FifoName}}"  >包含分机</a>
							</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
        <div class="row">
			<div class="col-xs-12">{{str2html .pageBar}}</div>
		</div>