
		<div class="row">
			<div class="col-xs-12">
			<a href="{{urlfor "GatewayController.Add"  }}" class="btn btn-sm btn-default"><i class="fa fa-user"></i> New</a>
			|  | <a href="{{urlfor "GatewayController.BatchAdd"  }}" class="btn btn-sm btn-default"><i class="fa fa-user"></i> 批量创建</a>

			</div>
			<div class="alert alert-warning alert-dismissible hide" role="alert">
					    	</div>
		</div>

		<div class="space-4"></div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>ID</th>
						<th>网关名称</th>
						<th>网关uri</th>
						<th>呼叫前缀</th>
						<th>最大并发</th>
						<th>是否外呼</th>
						 
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					 
					
					{{range   $v := .list}}
						<tr>
							<td class="center">{{$v.Id}}</td>
							<td>{{$v.Gateway_name}}</td>
							<td>{{$v.Gateway_url}}</td>
							 
							<td>{{$v.Call_prefix}}</td>
							<td>{{$v.Max_call}}</td>
							<td>{{$v.Added_autodial}}</td>
							 
							<td>
							<a href="{{urlfor "GatewayController.Modify" "id" $v.Id "uri" $v.Gateway_url}}">编辑</a> | 
							<a href="{{urlfor "GatewayController.Delete" "id" $v.Id "uri" $v.Gateway_url}}" class="delete_confirm">删除</a>
							</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
        <div class="row">
			<div class="col-xs-12">{{str2html .pageBar}}</div>
		</div>