<div class="alert alert-warning alert-dismissible hide" role="alert"></div>
		
		<form class="form-horizontal ajax-form" enctype="multipart/form-data"  method="post" action="{{urlfor "NumberController.Import"}}">
			 
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">路由名称</label>
				<div class="col-sm-3">
					<input required="required" type="file"  class="form-control" id="numbers" name="numbers">
				</div>
			</div>
			
			
			 
			<div class="clearfix form-actions">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
					<a href="{{urlfor "NumberController.List" }}" class="btn btn-default"><i class="ace-icon fa fa-reply bigger-110"></i>返回</a>
				</div>
			</div>
		</form>