<div class="row">
			<div class="col-xs-12">
			<a href="{{urlfor "NumberController.Import"}}" class="btn btn-sm btn-default"><i class="fa fa-plus"></i>导入号码</a>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						 
						<th >电话号码</th>
						<th >是否已呼</th>
						<th >呼叫结果</th>
						<th >呼叫标识</th>
						 
					</tr>
					</thead>
					<tbody>
					{{range  $v := .list}}
						<tr>
							<td class="center">{{$v.Phonenumber}}</td>
							<td class="center">{{$v.IsCalled}}</td>
							<td class="center">{{$v.CalledResult}}</td>
							<td class="center">{{$v.Callid}}</td>
						</tr>
					{{end}}
					</tbody>
					 
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">{{str2html .pageBar}}</div>
		</div>
