
		<div class="row">
			<div class="col-xs-12">
			<a href="{{urlfor "RingController.Add"  }}" class="btn btn-sm btn-default"><i class="fa fa-user"></i> New Ring</a>
			</div>
		</div>

		<div class="space-4"></div>

		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>路径</th>
						 
						
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					 
					{{range   $v := .list}}
						<tr>
							<td class="center">{{$v.Id}}</td>
							<td>{{$v.Name}}</td>
							<td>{{$v.Path}}</td>
							 
							 
							 
							<td>
							 
							<a href="{{urlfor "RingController.Del" "id" $v.Id}}" class="delete_confirm">删除</a> 
							
							</td>
						</tr>
					{{end}}
					</tbody>
				</table>
			</div>
		</div>
        <div class="row">
			<div class="col-xs-12">{{str2html .pageBar}}</div>
		</div>